@import 'tailwindcss';

@theme {
  --font-instrument: 'Instrument Serif', serif;
  --font-sans: 'Inter', 'sans-serif';
}

.stripe-divider {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 3px,
    #d4d4d8 3px,
    #d4d4d8 4px
  );
}
